$font-stack:Helvetica,
sans-serif;
$backgroundColorBlack:rgb(8, 8, 8);
$backgroundColorWhite:rgb(247, 247, 247);
$backgroundColorGrey:rgb(177, 171, 171);
$textColorgrey:rgb(177, 171, 171);
$textColorBlack:rgb(8, 8, 8);
$fontSize:1rem;
$fontSizeBigger:2rem;
$fontSizeBiggest:3rem;