            @use 'variables';
            @mixin imageSize() {
                width: 350px;
                height: 300px;
                border-radius: 10px;
            }
            
            // @mixin boxSize() {
            //     width: 350px;
            //     height: 600px;
            // }
            @mixin centerifyItem() {
                display: flex;
                justify-content: center;
            }
            
            //containers flexbox
            @mixin displayFlexColumn() {
                display: flex;
                flex-direction: column;
            }
            
            //boxes flexbox
            @mixin displayCenter() {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            
            @mixin bigImage() {
                width: 100%;
                height: 300px;
            }
            
            body {
                background-color: variables.$backgroundColorWhite;
                display: flex;
                font: 100% variables.$font-stack;
                background-image: url("https://media.istockphoto.com/photos/empty-white-studio-room-abstract-background-picture-id1147521090?b=1&k=20&m=1147521090&s=170667a&w=0&h=z2Syz9Pwcb55xKIIbp08AFPJyVjZM28t5IZLyyhqV3k=");
                background-size: 100%;
            }
            
            header {
                width: 20%;
                nav {
                    //@include displayCenter();
                    margin: 150px 0px 0px 100px;
                    li {
                        margin: 50px 0px 50px;
                        font-size: variables.$fontSize;
                        font-weight: 600;
                    }
                }
            }
            
            //landing1 and eventlist2 css
            main {
                width: 80%;
                h1 {
                    @include centerifyItem();
                    font-size: variables.$fontSizeBiggest;
                    margin: 50px;
                }
                #header_image {
                    @include bigImage();
                    margin-bottom: 50px;
                }
                #container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 50px;
                    // #box {
                    //     //@include boxSize(); //display: flex;
                    //     img {
                    //         //@include imageSize()
                    //     }
                    #eventDetail {
                        @include displayFlexColumn();
                        >* {
                            margin: 10px 0px 10px;
                        }
                    }
                    // }
                }
            }
            
            //general setting a li images
            a {
                text-decoration: none;
                color: variables.$textColorBlack;
            }
            
            li {
                list-style: none;
            }
            
            img {
                @include imageSize();
            }
            
            //eventdetails3
            #detail_images_container {
                img {
                    width: 200px;
                    height: 150px;
                }
                display: grid;
                grid-template-columns: repeat(4,
                1fr);
                margin-top:50px;
            }
            
            #event_form,
            #contact_form {
                //omoss form
                width: 50%;
                margin-top: 50px;
                div input,
                select,
                button {
                    width: 100%;
                    margin-top: 10px;
                    height: 40px;
                }
                div textarea {
                    width: 100%;
                }
            }
            
            //om oss css 
            #omoss_main {
                display: flex;
                flex-direction: column;
                //align-items: flex-start;
            }
            
            section {
                margin: 50px;
                img {
                    @include imageSize();
                }
                #bigImage {
                    @include bigImage();
                }
            }
            
            #vd_section {
                background-color: red;
                display: flex;
            }